<!DOCTYPE html>
<html>
    <head>
        <title>Vadim Bulatov's blog</title>
    </head>
    <body>
        <header>
            <h1><a href="/">Vadim Bulatov's blog</a></h1>
        </header>

        <article>
            <time>published: 19.04.2022, 16:32</time>
            <h2><a href=''>My first post</a></h2>
            <p> Holotropic breathing </p>
        </article>

        <article>
            <time>published: 19.04.2022, 16:32</time>
            <h2><a href=''>My second post</a></h2>
            <p> How deliberate cold exposure may improve your life <p>
        </article>
    </body>
</html>
